In [60]:
my_name = 'Killian'
print(my_name)

second_name = 'Feletig'

print('hello')

Killian
hello

In [3]:
age = 34
print(age)

34

In [4]:
julia_age = 32
age_diff = age - julia_age
print(age_diff)

2

In [5]:
if age > 21:
    print ('You are older than 21')
else: 
    print ('You are not older than 21')

You are older than 21

In [6]:
if age == julia_age:
    print ('You have the same age as Julia')
elif age > julia_age:
    print ('Julia is younger than you')
else: print('Julia is older than you')

Julia is younger than you

In [7]:
class_list = ['Virginia', 'Killian', 'Trifon', 'Arjun']
class_list.sort()
print(class_list)
print(class_list[0])
print(class_list[-1])
for name in class_list:
    print(name)

['Arjun', 'Killian', 'Trifon', 'Virginia']
Arjun
Virginia
Arjun
Killian
Trifon
Virginia

In [12]:
age_list = [33, 24, 31]
for num in age_list:
    print(num)

33
24
31
24

In [13]:
for num in age_list:
    if num%2 == 0:
        print(num)

24

In [16]:
n = 0
while n < len(age_list):
    print (age_list[n])
    n+=1 #or n=n+1

33
24
31

In [17]:
n = 0
while n < len (age_list):
    if age_list[n]%2 == 0:
        print (age_list[n])
    n+=1

24

In [18]:
nums = [1, 2, 3, 5, 9, 23, 19, 33, -1, 0, -12]
print(min(nums))

-12

In [19]:
print (max(nums))

33

In [20]:
years_of_birth = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
for year in years_of_birth:
    print (year)

1999
1995
2005
2010
2007
2006
1994
1996
1979
2008

In [61]:
from datetime import datetime
#determine current year so the check updates when run
current_year = datetime.now().year

customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
for person in customer_list:
    print (person['name'], current_year-person['age'])

Bob 23
Jack 27
Lisa 17
Maria 12
Ben 15
Emma 16
Oscar 28
Amy 26
Paul 43
Etta 14

In [28]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.sort()
middle_ages = ages[1:-1]
print(middle_ages)
str(ages)[1:-1]

[11, 12, 13, 14, 20, 23, 24, 25]

'9, 11, 12, 13, 14, 20, 23, 24, 25, 40'

In [27]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
ages.sort()
print(ages)
ages.pop(0)
ages.pop(-1)
print(ages)

[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]
[11, 12, 13, 14, 20, 23, 24, 25]

In [62]:
berlin = [15, 13, 16, 18, 19, 10, 12, 15]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
common = [num for num in berlin if num in munich]
print(common)

[15, 13, 16, 18, 19, 10, 15]

In [66]:
def common_age(a, b):
    return list(set(a).intersection(b))
    
berlin = [15, 13, 16, 18, 19, 10, 12, 12]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
leipzig = [1, 13, 16, 0, 19, 2, 12]
dresden = [5, 13, 15, 8, 19, 18, 6, 16]
common_age(leipzig, berlin)

[16, 19, 12, 13]

In [37]:
common_no_duplicates = set(common)
common_no_duplicates = list(common_no_duplicates)
print(common_no_duplicates)

[10, 13, 15, 16, 18, 19]

In [41]:
ages_list = [15,13,16,18,19,15,10]
list(set(ages_list))

[10, 13, 15, 16, 18, 19]

In [1]:
# Ex 15

def welcome(string):
    print(f'Welcome {string}, have a nice day!')

welcome('Evelyn')
welcome('Jost')

Welcome Evelyn, have a nice day!
Welcome Jost, have a nice day!

In [71]:
# Ex 16

def get_length(string):
    length = len(string)
    print (length)

get_length('Hello')
get_length('Hi')

5
2

In [46]:
def check_even(number):
    if number % 2 == 0:
        print("Yes")
    else:
        print("No") 
        
check_even(5)

No

In [47]:
# Ex 17

def check_even2(num):
    remainder = num%2
    if remainder == 0:
        print ('Yes')
    else:
        print('No')
    
check_even2(6)

Yes

In [49]:
# Ex 18 – # Ex 11

def name_age(dicts_list):
    for person in dicts_list:
        print (person['name'], 2022-person['age'])

customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
name_age(customer_list)

Bob 23
Jack 27
Lisa 17
Maria 12
Ben 15
Emma 16
Oscar 28
Amy 26
Paul 43
Etta 14

In [50]:
# Ex 18 – Ex 12

def rem_young_old(list):
    list.sort()
    list.pop(0)
    list.pop(-1)
    return list

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
print(rem_young_old(ages))

[11, 12, 13, 14, 20, 23, 24, 25]

In [52]:
# Ex 18 – Ex 13

def intersect(list1, list2):
    in_both = [num for num in list1 if num in list2]
    return in_both

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

print(intersect(berlin, munich))

[15, 13, 16, 18, 19, 10]

In [88]:
# Ex 18 – Ex 14

def rem_dup (list):
    stripped = []
    for num in list:
        if num not in stripped:
            stripped.append(num)
    return stripped

print (rem_dup([15,13,16,18,19,15,10]))

[15, 13, 16, 18, 19, 10]

In [83]:
# Ex 19

def num_finder(list, value):
    return value in list

print (num_finder({3,2}, 5))
print (num_finder([1,3,5], 3))

False
True

In [84]:
num_finder([1,3,5], 3)

True