In [3]:
#%reset

In [ ]:
print("Hello World")

In [5]:
student_list = ["Trifon", "Arjun"]

In [14]:
def welcome(person):
    print("Welcome to CAB " + person)
    print("Happy coding!")

In [15]:
for student in student_list:
    welcome(student)

In [10]:
def f(x):
    return x**2 + 1

In [11]:
f(45)

17

In [26]:
def same_initial(wd1, wd2):
    """Tests if two words start with the same character,  
    and returns True/False. Case distinction is ignored.""" 
    if wd1[0].lower() == wd2[0].lower(): 
        return True
    else: 
        return False

IndentationError: expected an indented block (<ipython-input-26-deca5cd5143e>, line 3)

In [24]:
same_initial('apple', 'orange')

True

In [25]:
same_initial('Annie', 'apple')

False

In [33]:
student_list[3]

IndexError: list index out of range

In [35]:
student_list.append("New Student")

In [41]:
student_list.remove("New Student")

ValueError: list.remove(x): x not in list

In [40]:
student_list

['Trifon', 'Arjun']

In [42]:
student_tuple = ("Trifon", "Arjun")

In [43]:
student_tuple.append("New Student")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
student_tuple[1]

In [46]:
my_age = 34

In [44]:
glasses = False

In [47]:
me = {
    "name": "Killian",
    "age": my_age,
    "has_glasses": glasses 
}

me

{'name': 'Killian', 'age': 34, 'has_glasses': False}

In [48]:
me["has_glasses"]

False

In [73]:
student_details_list = [
    {
        "name": "Trifon",
        "age": 25,
        "has_glasses": False
    },
    {
        "name": "Arjun",
        "age": 26,
        "has_glasses": False
    }
]

In [70]:
student_details_list[0]["name"]

'Trifon'

In [98]:
list(student_details_list[0].items())[:2]

[('name', 'Trifon'), ('age', 25)]

In [108]:
list(student_details_list[0].values())[0:2]

['Trifon', 25]

In [89]:
student_details_list[0]["name"],student_details_list[0]["age"]

('Trifon', 25)

In [92]:
for d in student_details_list:
    print (d['name'],d['age'])

Trifon 25
Arjun 26

In [ ]:
a = 5

In [ ]:
a == 5

In [ ]:
a >= 5

In [ ]:
a != 6

In [ ]:
x = 5

if x > 5:
    print("is bigger than 5")
elif x == 5:
    print("is equal to 5")
elif x >= 4:
    print("is equal to 4")
else:
    print("is smaller than 5 and not equal to 4")

In [ ]:
customer_age = 15

if customer_age >= 18:
    print("you can get a gin tonic")
elif customer_age >= 16:
    print("you can get a beer")
else:
    print("you should not drink")

In [ ]:
for student in student_list:
    print("Student name is " + student)

In [ ]:
for student_detail in student_details_list:
    if student_detail["has_glasses"] == True:
        print(student_detail["name"] + " has glasses")
    else:
        print(student_detail["name"] + " doesn't have glasses")

In [63]:
colors = ["red", "green", "yellow", "orange", "blue", "indigo", "violet"]
my_color = "black"
for color in colors:
    if my_color == color:
        print(my_color + " is present in the list")
        break
    else:
        print(my_color + " is not present in the list")
        break

black is not present in the list

In [64]:
while my_color in colors:
    print(my_color + " is present in the list")
    break
else:
    print(my_color + " is not present in the list")

black is not present in the list

In [65]:
class_list = ["Killian", "Trifon", "Arjun", "Virginia"]

class_list.sort()
class_list
# sorted_class_list = sorted(class_list)
# sorted_class_list
# class_list

['Arjun', 'Killian', 'Trifon', 'Virginia']

In [ ]:
class_list[0]

In [67]:
class_list[-1]

'Trifon'

In [ ]:
for student in class_list:
    print(student + " is a student of CAB")

In [ ]:
customer_year_list = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
current_year = 2021
customer_age_list = []
for customer_year in customer_year_list:
    customer_age = current_year - customer_year
    customer_age_list.append(customer_age)
    print(customer_age)
    print(customer_age_list)

print("The final list is: ", customer_age_list)

In [ ]:
prime_numbers = [11, 3, 7, 5, 2]

# sort the list
prime_numbers.sort()
print(prime_numbers)

# Output: [2, 3, 5, 7, 11]

In [ ]:
def calculate_age(customers):
    list = []
    for customer in customers:
        print(2021 - customer)
        list.append(2021 - customer)
    return list

age_list = calculate_age(customers)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)


p1 = Person("John", 36)
p1.myfunc()
#print(p1.name)
#print(p1.age)

In [ ]:
A={'a': 3, 'b': 2, 'c': 2, 'd': 4}
B={'a': 2, 'b': 3, 'c': 1}
keysA = A.keys()
keysB = B.keys()
valuesA = A.values()
valuesB = B.values()
key_diff = keysA - keysB
#val_diff = valuesA - valuesB

print(key_diff)
#print(val_diff)

In [ ]:
all(map( A.pop, B))

In [71]:
# Using dictionary comprehension + keys()
 
dict1 = {'a' : 4, 'b' : 4, 'c' : 7}
dict2 = {'a' : 6, 'b' : 6, 'c' : 10}
 
print('1st:', str(dict1))
print('2nd:', str(dict2))

# Subtraction of dictionaries
res = {key: dict2[key] - dict1.get(key, 0) for key in dict2.keys()}

print('2nd - 1st:', res)

1st: {'a': 4, 'b': 4, 'c': 7}
2nd: {'a': 6, 'b': 6, 'c': 10}
2nd - 1st: {'a': 2, 'b': 2, 'c': 3}